a {text-decoration: none; color: aliceblue;}

.matekizek {border: aqua; text-align: left;}

main {margin:auto;}

body {margin: auto;}
article {margin: auto; max-width: 900px;}

.nav-item {margin: auto;}

ul {list-style: none;}
li {
    float: left;
    text-decoration: none;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
  }